$('#new_advocate').spin();

setTimeout(function() {
      $('#new_advocate').fadeOut();
      $('#new_advocate').find("input[type=text], textarea").val("");
      $('#success').show().html("<p>Thank you so much for sharing the love! You’ll receive an email update from me soon.</p><p>-Truman</p><p>P.S. If you can help spread the word among your network, I’d love to get set up with more B2B marketers!</p> <button id='another'> Make Another Referral </button>");
}, 1500);

$('#new_advocate').spin(false);
supps++;
$('#backers').html(supps);
$('#progress').height("+=10");

$('#success').on("click", "#another", function() {
  $('#success').html(" ").hide();
  $('#new_advocate').fadeIn();
});
