<div class='container'>
	<div class='front-wrap'>
		<span class='title front'>
	      <span>Lead</span>
	      <span>Starter</span>
	    </span>
	    <p>Originally a ship-it day project, Referral Starter was created to be a kickstarter style webapp for business referrals.</p>

	    <p>Currently internal use only.</p>

	    <p class='right'><%= link_to "Log In", new_contact_session_path %></p>

	    <!-- <button>Get Started</button> -->
    </div>
</div>