<div class='container'>
	<div class='front-wrap'>
		<span class='title front'>
	      <span>Lead</span>
	      <span>Starter</span>
	    </span>
	    <p>Lorizzle ipsum dolor sit amizzle, for sure adipiscing elit. Nullam sapien velizzle, dang crackalackin, suscipizzle quis, fo shizzle mah nizzle fo rizzle, mah home g-dizzle vizzle, arcu. Pellentesque gangster tortizzle. Sizzle eros. Gangsta izzle my shizz break it down fizzle tempizzle rizzle. Mauris sheezy fo shizzle pot fo shizzle. Uhuh ... yih! in tortor. Pellentesque eleifend away dizzle. In brizzle habitasse platea dictumst. Phat dapibus. Fo shizzle own yo' crackalackin, pretizzle mofo, mattizzle ac, eleifend dope, nunc. Fizzle suscipit. Integizzle semper velit shizzlin dizzle purizzle.</p>

	    <p>Etizzle yo mamma daahng dawg nisl. Fo shizzle quizzle arcu. Yo pulvinar, ipsizzle fo shizzle my nizzle malesuada scelerisque, nulla purizzle euismizzle my shizz, izzle shiz daahng dawg ass crazy augue. Vivamus ma nizzle, tortor izzle varius break it down, nibh nunc ultricies black, izzle luctus leo you son of a bizzle own yo' dolizzle. Maurizzle break it down, orci vizzle fo shizzle shiz, my shizz augue luctizzle fo shizzle my nizzle, at bibendizzle enizzle ma nizzle izzle nisl. Nullam ass velit shiz orci go to hizzle viverra.</p>

	    <button>Get Started</button>
    </div>
</div>