<div class='container'>
	<div class='manage_table'>
		<h2>My Campaigns<span class='right'><%= link_to "New Campaign", new_campaign_path %></span></h2>

		<%= react_component 'Manager', { data: @campaigns } %>

	</div>
</div>