// Place all the styles related to the campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#media_preview {
    width: 300px;
    height: 300px;
    img {
    	height: 300px;
    }
}

#campaign_form {
	float: left;
	width: 70%;
	.campaign_form_piece {
	    width: 50%;
	    height: 275px;
	    float: left;
	}
	input {
		padding: 10px;
		border: none;
		border-bottom: solid 2px #c9c9c9;
		transition: border 0.3s;
		width: 300px;
		outline: 0;
		&:focus {
		  border-bottom: solid 2px #969696;
		}
	}
	textarea {
		width: 90%;
	}
}

#campaign_hero {
	position: relative;
	overflow: hidden;
    margin: -10px -15px 0px -15px;
	.campaign_media {
		float: left;
		padding: 20px 20px;
		text-align: center;
		width: 50%;
	}
	.hero_details {
		float: left;
		vertical-align: top;
	    padding: 20px 0px;
		color: white;
		font-weight: 100;
		width: 50%;
		font-size: 16px;
		h1 {
			font-size: 30px;
			line-height: 1em;
			font-weight: 100;
		}
		.hero_referrals {
			font-size: 18px;
			span {
				display: inline-block;
				text-align: center;
				padding: 5px;
				background-color: #00709c;
			}
		}
		.hero_bold {
		    background-color: rgb(90,98,109);
		    padding: 5px;
		    letter-spacing: 3px;
		}
		.time_section {
		    display: inline-block;
		    text-align: center;
		    padding: 5px;
		    width: 75px;
		    background-color: rgb(0, 112, 156);
		}
	}
}

.hero_background {
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#rewards_form {
	float: left;
	width: 30%;
	.reward {
	        margin: 10px;
		    padding: 10px;
		    border: 1px solid;
		    border-radius: 2px;
	    input {
	    	width: 100%;
	    }
	    textarea {
    	    height: 100px;
		    width: 100%;
	    }
	}
	.add_nested_fields {

	}
}

.campaign_content {
    float: left;
    width: 72%;
    padding: 10px;
}

.campaign_meta {
	float: left;
    width: 28%;
    .campaign_reward {
        background-color: #edeeef;
        width: 100%;
        padding: 10px;
        border: 1px solid rgb(113, 208, 61);
        margin-bottom: 20px;
        .reward_milestone {
            font-size: 30px;
            float: left;
            height: 60px;
            line-height: 60px;
            margin-right: 10px;
        }
        h4 {
        	font-size: 18px;
        	margin: 3px;
        	float: left;
        }
        p {
        	float: left;
        }

    }
    .campaign_refs {
        border: 1px solid rgb(113, 208, 61);
        padding: 10px;
        background-color: rgb(237, 238, 239);
        width: 100%;
        .ref_banner {
            background-color: rgb(113, 208, 61);
            padding: 3px;
            display: block;
            text-align: center;
            color: white;
            letter-spacing: 4px;
            margin-bottom: 10px;
        }
        input[type=text] {
        	width: 100%;
        }
        input[type=submit] {
        	background: #ff9600;
        	color: white;
        	border: 0;
        	box-shadow: 0px 3px rgb(238, 113, 0);
        	border-radius: 3px;
        }
    }
    .content_share {
    	font-size: 30px;
    	padding: 10px;
    	width: 100%;
    	display: table;
	    table-layout: fixed;
	    a {
	    	display: table-cell;
	    	text-align: center;
	    }
    	i {
    		margin: 0 5px;
    		&:hover {
    			color: rgb(0,112,156);
    		}
    	}
    }
    #progress {
	    width: 100%;
	    height: 80px;
	    margin: 10px 0;
	    background: rgb(237, 238, 239);
	    position: relative;
	    #bar {
	        position: absolute;
	        top: 0;
	        bottom: 0;
	        left: 0;
	        right: 100%;
	        background-color: rgb(113,208,61);
	        border-right: 1px solid black;
	        p {
	            font-size: 32px;
	            text-align: center;
	            float: right;
	            color: white;
	        }
	    }
    }
}

.content_bold {
	background-color: #ced3d4;
    padding: 5px;
    letter-spacing: 3px;
    color: white;
    display: inline-block;
    margin: 20px 0 10px;
    font-size: 16px;
}


.manage_table {
	width: 100%;

	.table_header {
	    display: table;
	    border-bottom: solid #999 1px;
		width: 100%;
		span {
			display: table-cell;
			width: calc(100% / 5);
			font-size: 14px;
			font-weight: normal;
			text-transform: uppercase;
			padding-bottom: 10px;
			text-align: left;
		}
	}


	.row_container {
		transition: all 1s;
		max-height: 105px;
	}

	.in {
		max-height: 1000px;
	}

	.manage_campaign_row {
	    border-top: solid #999 1px;
	    background-color: white;
	    display: table;
	    width: 100%;

		&.expired {
			background: #EF8282;
		}

		&.complete {
			background: #8DD68D;
		}

	    &:hover {
	    	background:rgb(237, 238, 239);
	    	cursor: pointer;
	    }

	    .manage_campaign_cell {
	    	width: calc(100% / 5);
	    	display: table-cell;
	    	vertical-align: middle;
	    	padding: 10px 0;
	    	.manage_icon {
	    		width: 60px;
	    		height: 60px;
	    		margin: 0 auto;
	    		display: block;
	    	}
	    }

	    .manage_control {
	    	a {
	    		display: block;
	    		text-align: center;
	    		padding: 5px;
	    	}
	    }
	}

	.campaign_refs {
	    height: 210px;
	    overflow-y: scroll;
	    padding: 20px;
	    .ref_info {
	    	display: inline-block;
	    	width: calc(100% / 6);
	    }
	    .ref_header {
	    	font-weight: bold;
	    }
	}

	.manage_table {
		width: 100%;
	}
}

.add_nested_fields {
	float: right;
}