<footer style="clear: both; text-align:center; margin-top:2em">
	  <p>
		<a class="infl-link" href="http://www.influitive.com" target="_blank">
	      <img width="150" src="https://d3rnld1uo6kgq2.cloudfront.net/assets/powered_by-04dc57fa2d7b6a4d8bc3f552f4055b76.png" class="infl-logo"/>
	    </a>.
	  </p>
</footer>