<center>
  <p>
    Powered by <img height="16" width="16" src="https://d3rnld1uo6kgq2.cloudfront.net/assets/powered_by-04dc57fa2d7b6a4d8bc3f552f4055b76.png" class="infl-logo"/> <a class="infl-link" href="http://www.influitive.com" target="_blank"> influitive</a>.
  </p>
</center>